.paymentList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.getPrice {
    padding: 20px;
}

.getPrice span {
    margin-right: 40px;
}

.cartItems {
    width: 40%;
    height: 50vh;
    padding: 20px 0px;
    overflow: auto;
}

.cartItems::-webkit-scrollbar {
    width: 8px;
  }

.cartItems::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 6px;
  }
